{{ form_start(form, {attr: {class: 'comment-form'}}) }}
  {{ form_errors(form) }}

  <div class="comment-row">
    {{ form_row(form.comment, {attr: {rows: 6}}) }}
  </div>

  {% if form.userFlag is defined %}
    {{ form_row(form.userFlag) }}
  {% endif %}

  {{ form_row(form.submit) }}
{{ form_end(form) }}
